html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #101d28;
}

.topContainer {
  padding: 25px 0;
  display: flex;
  display: none;
  justify-content: space-around;
  margin-bottom: 15px;
  color: #000000;
}

.paragraph {
  font-family: sans-serif;
  font-weight: bold;
}
canvas {
  width: 80%;
  height: 80%;
  display: block;
}

.canvasContainer {
  margin: 0 auto;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}

.scoreContainer {
  display: flex;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  align-items: center;
  background-color: #2e6290a3;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  margin: 0 50px;
  color: #ffffff;
}

.lifeCount {
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: red;
}
