body {
  margin: 0;
  background-color: #101d28;
}

.container {
  background-color: rgb(246, 125, 145);
  padding: 1px;
  color: #000;
}

.paragraph {
  font-family: sans-serif;
  font-weight: bold;
}
canvas {
  width: 80%;
  height: 80%;
  display: block;
}

.canvasContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
